# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
.idea/
.vscode/

# Build artifacts
/build/
.gradle
.ds_store

# Android specific
/android/.gradle
/android/build/
/android/local.properties
/android/key.properties
/android/app/src/debug
/android/app/build/
/android/app/libs
/android/app/src/main/assets/flutter_assets/
/android/app/src/main/java/

# iOS specific
/ios/.symlinks
/ios/Flutter/Generated.xcconfig
/ios/Flutter/App.framework/
/ios/Flutter/flutter_assets/
/ios/Pods/
/ios/Runner.xcodeproj/project.xcworkspace
/ios/Runner.xcworkspace
/ios/Flutter/Flutter.podspec
/ios/Runner/Runner.entitlements
/ios/DerivedData/

# Git Ignore for common files
/pubspec.lock
/test/
/web/
/windows/
/macos/
/linux/
/lib/
/ios/
/android/

# ignore all output from flutter test
/.flutter-test
/.flutter-test.json

# Other common files to ignore
*.lock
*.log
*.sqlite
*.db
*.apk
*.aab
*.ipa
*.app

# IDE-related
.idea/
.vscode/
*.iml

# Local files
**/local.properties
devtools_options.yaml
.flutter-plugins-dependencies
